[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
requests = "*"
beautifulsoup4 = "*"
nltk = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
